@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Darker gradient colors for a more subdued look */
    background: linear-gradient(270deg, #020024, black, white);
    background-size: 200% 200%;
    animation: Gradient 10s ease infinite; /* Animation time increased to slow down transition */
}

/* Animate the gradient */
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Header */
#header {
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center; /* Add this line */
    height: 100vh; 
    justify-content: center; 
    position: relative;
    overflow: hidden;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Add this line */
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #0ac282; /* Changed to match the CTA button color */
    border-radius: 50%;
    animation: floating 3s infinite ease-in-out;

}

@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Adjust the value to control the float height */
    }
    100% {
      transform: translateY(0);
    }
}

.logo:hover {
    transform: scale(1.1); /* Scales the logo when hovered over */
}

.logo-image {
    border-radius: 50%;
    width: 250px; /* or any size you prefer */
}

.brand-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Add this line */
    color: #0ac282; /* Changed to match the CTA button color */
    font-size: 1.2em;
}

.brand-slogan {
    font-size: 1.5em; /* Slightly smaller than the brand name */
    font-style: italic; /* Optional: make the slogan italic */
    font-family: 'Roboto', sans-serif; /* More readable font */
}

.brand-name {
    font-weight: bold;
    color: #0ac282; /* Changed to match the CTA button color */
    font-size: 2.5em; /* Even larger font size for the brand name */
}

.cta-button {
    background-color: #0ac282; /* Bright green to contrast with the dark background */
    color: #ffffff; /* White text for better readability */
    padding: 10px 10px; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 1.0em;
    font-family: 'Poppins', sans-serif; 
}

.cta-button:hover {
    background-color: #c0392b; 
    color: #ffffff; 
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none; /* Removes bullet points */
    font-size: 1.0em; /* Makes the navigation buttons bigger */
    font-family: 'Poppins', sans-serif; /* Changes the font to Poppins for more stylish look */
}

.nav-link {
    background-color: #0ac282; /* Changed to match the CTA button color */
    color: #ffffff; /* White for better readability */
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05); /* Gives a popping effect */
}

.nav-link:hover {
    background-color: #c0392b; /* Matches the CTA button hover color */
    color: #ffffff; /* Unchanged */
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This rule applies when the viewport is less than 600px wide */
@media (max-width: 600px) {
    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 40px;
    }
}


/* Section Specific */
.section-card {
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    margin: 20px auto; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 1200px; 
    width: 95%; 
    color: #34495e; /* Darker text color for better contrast against light background */
}

.section-card h2 {
    margin-bottom: 20px;
    color: #34495e;
}

/* About the Trader Section */
.trader-info {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.trader-details {
    flex: 1;
    padding: 20px;
    color: black;
    max-width: 800px; /* adjust according to your preference */
}

.trader-details h3 {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
}

.trader-details p {
    font-size: 1.0em;
}

/* Discord Section */
.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.feature-card {
    display: flex;
    flex-direction: column; /* This stacks the child elements vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* This centers the text within the child elements */
    width: 250px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    /* Use min-height and min-width if your content might exceed these dimensions */
}

.feature-card i {
    font-size: 2em;
    color: #0ac282;
}

.feature-card h3 {
    margin-top: 10px;
    color: #0ac282;
}

.feature-card p {
    margin-top: 10px;
}


/* Testimonials Section */
.testimonial-card {
    margin: 20px auto; 
    padding: 20px;
    max-width: 1000px; 
    width: 95%; 
}
#testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* adjust as needed */
}

.testimonial {    
    margin-top: 10px;
    margin-bottom: 20px;
    /* background: #0ac282; */
    color: white;
    padding: 20px;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05); */
}

.testimonial:nth-child(even) {
    margin-top: -25px;
}
.testimonial:nth-child(odd) {
    margin-bottom: 25px;
}

/* FAQ Section */
#faq {
    margin-top: 100px;
}

.faq-question {
    background-color: white;  /* Lighter shade of the main color theme */
    color: black; /* Darker shade of the main color theme */
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif; 
}

.faq-question:after {
    content: '\25B6'; /* Unicode character for right arrow */
    color: #094067; /* Darker shade of the main color theme */
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.faq-question.active:after {
    content: '\25BC'; /* Unicode character for down arrow */
}

.faq-answer {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
    background-color: #0ac282; /* Lighter shade of the main color theme */
    border-radius: 10px;
    margin-bottom: 10px;
}


/* Footer Specific */
#footer {
    background-color: #020024; /* Matches the background color of the gradient */
    color: #ffffff; /* White text */
    padding: 20px;
    display: flex;
    justify-content: center; /* Centers the icons */
    align-items: center;
    text-align: center;
}

.social-icon {
    color: #0ac282; /* Matches the CTA button color */
    margin: 0 10px; /* Adds some space between the icons */
    font-size: 1.5em; /* Increases the size of the icons */
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #c0392b; /* Changes color on hover */
}
